/* Import Rockwell fonts */
@import url('https://fonts.googleapis.com/css2?family=Rockwell');

body {
    font-family: 'Rockwell', sans-serif;
    background-color: #f5f5dc; /* Light beige color */
    margin: 40px;
    padding: 0;
}

h1, h2 {
    font-family: 'Rockwell', serif;
    text-align: center;
}

main {
    margin: 40px; /* Bigger margins for the main text */
}

header {
    text-align: left;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
